body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/concrete_seamless.png");
  margin:0;
}

header {
  background: #ffffff;
  border-bottom: 2px #cccccc solid;
  text-align: center;
  width: 100%;
  margin:0;
  height: 96px;
}

#wrapMe {
  width: 960px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

main {
  width: 900px;
  margin: 30px auto;
  background: #ffffff;
  padding: 30px;
  border: 2px solid #dddddd;
}

p {
  line-height: 24pt;
}

#profile {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 200px;
}

nav {
  float: right;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  float: left;
  background: #4aaaa5;
  padding: 30px 30px;
  margin: 0;
  color: white;
}

#heading {
  padding-left: 0;
  background: #ffffff;
  color: #4aaaa5;
  float: none;
  margin-bottom: 40px;
  border-bottom: 2px #cccccc solid;
}

a{
  color: #777777;
  text-decoration: none;
}

footer {
  border-top: 8px solid #4aaaa5;
  background: #666666;
  text-align: center;
  padding-top: 40px;
  color: white;
  margin-top:30px;
  width: 100%;
}

#IMG1, #IMG2, #IMG3, #IMG4, #IMG5 {
  margin: 0 20px 30px 0;
}

.caption {
  background: #4aaaa5;
  color: #ffffff;
  position: absolute;
  width: 300px;
  padding: 15px 0;
  margin: 10px 0;
  margin-top: 145px;
  text-align: center;
}

.pics {
  float: left;
  display: flex;
  font-size: large;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.clearfix::after {
  content:"";
  clear: both;
  display: table;
}

input[type=text], input[type=email], textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  margin: 8px 0;
  padding: 6px 20px;
  background: #4aaaa5;
  color: #ffffff;
  border: none;
}

@media only screen and (max-width: 980px) {
  header {
    background: #ffffff;
    border-bottom: 2px #cccccc solid;
    text-align: center;
    width: 100%;
    margin:0;
    height: 96px;
  }

  #wrapMe {
    width: 760px;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }

  main {
    width: 700px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border: 2px solid #dddddd;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background: #ffffff;
    border-bottom: 2px #cccccc solid;
    text-align: center;
    width: 100%;
    margin:0;
  }

  #wrapMe {
    width: 610px;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }

  main {
    width: 550px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border: 2px solid #dddddd;
  }
}

@media only screen and (max-width: 640px) {
  header {
    background: #ffffff;
    border-bottom: 2px #cccccc solid;
    text-align: center;
    width: 100%;
    margin:0;
  }

  #wrapMe {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  main {
    width: 450px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border: 2px solid #dddddd;
    margin-top: 80px;
  }

  nav {
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: 2px #cccccc solid;
  }

  h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    margin: 0;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
  }

  #heading {
    padding-left: 0;
    background: #ffffff;
    color: #4aaaa5;
    float: none;
    margin-bottom: 40px;
    border-bottom: 2px #cccccc solid;
    text-align: left;
  }

  #header-links {
    margin-top: 0;
    background: #ffffff;
    text-align: center;
    float: none;
  }

  #profile {
    float: none;
    width: 100%;
  }
}
